<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" i="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="pswd">Password</label>
                <input type="password" i="pswd" class="form-control">
            </div>
            <div class="mt-2">
                <div class="btn btn-primary">Sign in</div> |
                <div class="btn btn-primary">Login in</div> 
            </div>
            
        </form>
    </div>
</div>
